@import "../../css-config/mixins.scss";


.main-header{
    width: 100%;
    padding: 0 20px;
    background-color: #212121;
    color: white;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 99;
    @include md{
        padding: 0 40px;
    }
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        max-width: 1200px;
        margin: 0 auto;
        @include md{
            padding: 0 80px;
        }
        .left{
            list-style: none;
            display: none;
            gap: 25px;
            @include md{
                display: flex;
            }
            li{
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        .center{
            font-size: 22px;
            font-weight: 700;
            cursor: pointer;
            @include md{
                font-size: 34px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .right {
            display: flex;
            align-items: center;
            gap: 20px;
        
            @media (max-width: 768px) {
                gap: 25px;
            }
        
            svg {
                font-size: 20px;
                cursor: pointer;
        
                @media (max-width: 768px) {
                    font-size: 24px;
                }
            }
        
            .cart-icon {
                position: relative;
                margin-right: 20px; /* Adjust this value to set the desired gap */
                
                span {
                    min-width: 20px;
                    text-align: center;
                    background-color: #8e2de3;
                    padding: 2.5px;
                    position: absolute;
                    top: -5px;
                    right: -12px;
                    font-size: 12px;
                    line-height: 1;
                    border-radius: 10px;
                }
            }
            
            /* Adjust gap between icons */
            /* Example: */
            .another-icon {
                margin-right: 40px; /* Adjust this value to set the gap */
            }
            
        }
        &.sticky-header{
            position: sticky;
            top: 0;
            transform: translateY(-80px);
            animation: stickyHeader 0.3s ease forwards;
        }
    }
}
@keyframes stickyHeader {
    0% {
        transform: translateY(-80px);
    }
    100% {
        transform: translateY(0);
    }
}

// a{
//     pointer-events: none;
//     cursor: pointer;
// }